In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
pip install folium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: folium in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.19.5)
Requirement already satisfied: branca>=0.6.0 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from folium) (3.1.6)
Requirement already satisfied: numpy in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from folium) (2.2.5)
Requirement already satisfied: requests in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from folium) (2025.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->folium) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->folium) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\regine salva\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->folium) (2025.4.26)
Note: you may need to restart the kernel to use updated packages.

In [4]:
#Load the dataset with the correct encoding
df = pd.read_csv('Datasets\\Global_terrorist.csv', encoding = 'ISO-8859-1')

In [5]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [6]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

<h1>Filtering Data</h1>

In [7]:
df['region_txt'].unique()

array(['Central America & Caribbean', 'North America', 'Southeast Asia',
       'Western Europe', 'East Asia', 'South America', 'Eastern Europe',
       'Sub-Saharan Africa', 'Middle East & North Africa',
       'Australasia & Oceania', 'South Asia', 'Central Asia'],
      dtype=object)

In [9]:
filter1 = df[df['region_txt'] == 'Middle East & North Africa']

In [10]:
filter1

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
95,197002280001,1970,2,28,NaN,0,NaN,102,Jordan,10,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
133,197003140002,1970,3,14,NaN,0,NaN,60,Egypt,10,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
158,197003290002,1970,3,29,NaN,0,NaN,110,Lebanon,10,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
195,197004150001,1970,4,15,NaN,0,NaN,102,Jordan,10,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
226,197004250001,1970,4,25,NaN,0,NaN,209,Turkey,10,...,NaN,NaN,NaN,NaN,PGIS,1,0,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181670,201712310003,2017,12,31,2017-12-31 00:00:00,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Security Roundup 1900 GMT 31 December 2...","""Terrorism: Roundup of Official ISIS Messages ...",NaN,START Primary Collection,0,1,0,1,NaN
181671,201712310004,2017,12,31,NaN,0,NaN,95,Iraq,10,...,Casualty numbers conflict across sources. Foll...,"""Islamic State attack leaves thirteen civilian...","""3 people killed in IS attack in central Iraq,...","""Daesh gunmen kill 3 in northern Iraq: Police,...",START Primary Collection,0,1,0,1,NaN
181674,201712310007,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""Five IS militants killed as paramilitary troo...","""1,262 Killed in Iraq During December,"" Antiwa...",NaN,START Primary Collection,0,1,0,1,NaN
181679,201712310012,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""13 IS militants killed in attack on paramilit...",NaN,NaN,START Primary Collection,0,1,0,1,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN

In [11]:
filter1['attacktype1_txt'].unique()

array(['Armed Assault', 'Bombing/Explosion', 'Unknown',
       'Hostage Taking (Kidnapping)',
       'Hostage Taking (Barricade Incident)', 'Assassination',
       'Hijacking', 'Facility/Infrastructure Attack', 'Unarmed Assault'],
      dtype=object)

In [13]:
filter2 = filter1[filter1['attacktype1_txt'] == 'Bombing/Explosion']

In [14]:
filter2['nkill']

133       0.0
158       0.0
195       0.0
226       0.0
334       NaN
         ...
181667    NaN
181668    0.0
181669    0.0
181671    4.0
181687    2.0
Name: nkill, Length: 30908, dtype: float64

In [15]:
filter2[filter2['nkill'] >=10]

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
1314,197205300001,1972,5,30,NaN,0,NaN,97,Israel,10,...,NaN,NaN,NaN,NaN,PGIS,1,1,0,1,NaN
2382,197405180001,1974,5,18,NaN,0,NaN,97,Israel,10,...,NaN,NaN,NaN,NaN,PGIS,1,0,0,1,NaN
4385,197612150001,1976,12,15,NaN,0,NaN,95,Iraq,10,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
6607,197808130002,1978,8,13,NaN,0,NaN,110,Lebanon,10,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
8700,197906160007,1979,6,16,NaN,0,NaN,200,Syria,10,...,NaN,NaN,NaN,NaN,PGIS,0,1,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180708,201711240001,2017,11,24,NaN,0,NaN,60,Egypt,10,...,Casualty numbers conflict across sources. Foll...,"""Bomb attack on mosque in Egypt's Sinai,"" BBC,...","""Death toll in Sinai mosque bombing rises to 3...","""Egypt Sinai mosque attack death toll rises to...",START Primary Collection,0,0,0,0,NaN
180811,201711270007,2017,11,27,NaN,0,NaN,95,Iraq,10,...,Casualty numbers conflict across sources. Foll...,"""Suicide bombers kill 11 in Iraq attack claime...","""Attack Kills At Least 11 Near Baghdad, IS Cla...","""Xinhua: Suicide Attack Kills 8 In Southeast B...",START Primary Collection,0,1,0,1,NaN
180942,201712010003,2017,12,1,NaN,0,NaN,95,Iraq,10,...,NaN,"""Official: Over 25 persons killed in booby-tra...","""70% of Western Anbar Destroyed, Mosul Orphans...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181537,201712250023,2017,12,25,NaN,0,NaN,228,Yemen,10,...,NaN,"""Al Houthi missile kills family of 10 in Sana...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181624,201712290002,2017,12,29,NaN,0,NaN,60,Egypt,10,...,Casualty numbers conflict across sources. Foll...,"""Egypt: 10 killed in Cairo church attack by Da...","""Gunmen attack church near Cairo, killing nine...","""Singapore: Gunman kills 9 in Egypt church att...",START Primary Collection,0,0,0,0,"201712290002, 201712290003"

In [16]:
filter3 = filter2[filter2['nkill'] >=10]

In [18]:
filter4 = filter3[filter3['iyear'] >= 2000]

<h1>Data Aggregation</h1>

In [19]:
ME_terror = filter4.groupby(['longitude','latitude']).size().reset_index(name = 'incident_count')

In [20]:
ME_terror

     longitude   latitude  incident_count
0    -8.000000  31.633333               1
1    -7.610000  33.590000               1
2     0.138188  35.391899               1
3     1.988153  36.072919               1
4     2.344489  36.526708               1
..         ...        ...             ...
517  50.004524  26.554785               1
518  51.405190  35.724533               1
519  52.583610  29.591325               1
520  60.862701  29.483576               3
521  61.753754  26.079255               1

[522 rows x 3 columns]

<h1>Visualization of GeoSpatial using FOLIUM</h1>

In [21]:
import folium 
from folium.plugins import HeatMap

In [23]:
heat_df = ME_terror[['longitude','latitude','incident_count']].values.tolist()

In [24]:
my_map = folium.Map(location = [30,40], zoom_start =4)

In [25]:
HeatMap(heat_df).add_to(my_map)

In [26]:
my_map

In [28]:
my_map.save('terrorism_heatmap.html')